body {
    
    background-color: #09f5a2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 40px;
    
}

h2 {
    color: rgb(128, 0, 0);
}

.container {
    
    border: 1px solid #f87400;
    width: 420px;
    background: transparent;
    border-radius: 12px;
    backdrop-filter: blur(9px);
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.4);
    padding: 30px 40px;
}

input {

    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(128, 13, 0);
    border-radius: 20px;
    max-width: 200px;
}

select {

    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(128, 4, 0);
    border-radius: 20px;
    max-width: 120px;
}

button {
    background-color: rgb(136, 135, 222);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
    max-width: 200px;
}

button:hover {
    background-color: rgb(128, 0, 0);
}

#result {
    margin: 20px 0;
    font-weight: bold;
    color: rgb(128, 0, 0);
}

.image{
    width: 20%;
    height: 30%;
    position: absolute;
    right: 200px;
    bottom: 220px;
}

.image img{
    position:absolute;
    height: 100%;
    left: 10%;
    transform: translate(-50);
    bottom: 220px;
}